<h3><%= @meeting.name %></h3>
<p>
  Tags:
  <% @meeting.tags.each do |tag| %>
    <a href="/meetings?tag=<%= tag.name %>"><%= tag.name %></a>  
  <% end %>
</p>
<p>Address: <%= @meeting.address %></p>
<p>Start time: <%= @meeting.start_time %></p>
<p>End time: <%= @meeting.end_time %></p>
<h4>Notes:</h4>
<p><%= @meeting.notes %></p>
<a href="/meetings">Back to all meetings</a>
